body {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}
html {
  height: 100%;
  position: relative;
}
#contact-form {
    padding: 40px;
    border: 1px solid rgb(122, 122, 109, 0.3) ;
    margin: auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 340px;
    height:500px;
    margin-top: 30px;
    position: relative;
    z-index: 59;
}
.form-group {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    position: relative;
    padding: 5px;
}
.form-group > input {
  padding-block: 4px;
  font-size: 14px;
}
.form-error{
    color: red;
    font-size: 11px;
}
#email-check, #name-check, #subject-check, #message-check {
    position: absolute;
    top: 24px;
    right: -20px;
    color: green;
    display: none;
}
 #name-error, #email-error, #subject-error, #message-error{
    display: none;
 }
 .form-button {
  color: #000;
  border-radius: 0;
  margin-top: 30px;
  background-color: rgba(6, 138, 39, 0.7);
  height: 36px;
  font-weight: bolder;
  font-family: 'PT serif';
  text-transform: uppercase;
  border: none;
  box-shadow: 1px 1px 0px 1px rgb(218, 219, 218);
  flex-shrink: 0;
}
.form-button:hover {
  background-color: rgba(6, 138, 39, 0.9);
  cursor: pointer;
}
 /*Footer*/
 .footer-container-contact {
   width: 100%;
   background-color: rgba(6, 138, 39, 0.5);
   height: 120px;
   display: flex;
   position: absolute;
   left: 0;
   top: 112%;
   align-items: center;
   box-sizing: border-box;
 }
 .contact-footer-a > a{
  position: absolute;
  right: 180px;
  bottom: 46px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
 }
 .about-footer-a > a {
  position: absolute;
  right: 40px;
  bottom: 46px;
  font-size: 20px;
  color: #000;
  font-weight: 600;
 }
 .facebook-icon {
    width: 34px;
 }
 .instagram-icon {
    width: 34px;
 }
 .social-media {
   margin-left: 30px;
   padding: 0;
   justify-content: center;
 }
 .twitter-icon {
    width: 34px;
 }
 .footer-p {
  font-size: 20px;
 }
 .logo-image-contact {
  width: 120px;
  margin-top: 20px;
  margin-right: -20px;
 }
 /*Media Queries*/
 @media(max-width:720px){
   .contact-footer-a > a {
      right: 160px ;
      font-size: 18px;
      font-weight: bold;
    }
    .about-footer-a > a {
      right: 40px ;
      font-size: 18px;
      font-weight: bold;
    }
    .footer-p {
      font-size: 18px;
    }
    .social-media {
      margin-left: 15px;
    }
    .header-h1 {
      margin-right: 120px;
    }
 }
 @media(max-width:639px){
       .nav-contact > ul {
        width: fit-content;
        gap: 0px;
        border: 2px solid red;
      }
      .nav-contact > ul > a {
        margin-inline: 10px;
      }
      .nav-contact > ul > a:nth-child(1) {
        margin-left: -20px;
      }
      .logo-image-contact {
        width: 110px;
        margin-top: 16px;
      }
      .header-h1 > h1 {
        font-size: 42px;
        margin-top: 34px;
      }
   }
   @media(max-width:570px) {
    .nav-contact > ul > a {
      font-size: 15px;
      padding: 0;
    }
  .header-h1 > h1 {
    font-size: 36px;
    margin-right: 60px;
    margin-top: 39px;
   }
   .header-h1 {
    margin-right: 100px;
   }
   .nav-contact > ul {
    gap: 18px
   }
  .nav-contact {
    max-width:96%;
  }
  .contact-footer-a > a {
    left: 400px ;
    bottom: 30px;
    font-size: 18px;
  }
  .about-footer-a > a {
    left: 400px ;
    font-size: 18px;
    bottom: 70px;
  }
  #contact-form {
    max-width: 290px;
  }
  .form-group > input {
    padding: 2px;
  }
  .logo-image-contact{
    width: 100px;
    margin-top: 21px;
  }
}
@media(max-width:522px) {
  .contact-footer-a > a {
    left: 350px ;
    bottom: 30px;
    font-size: 15px;
  }
  .about-footer-a > a {
    left: 350px ;
    font-size: 15px;
    bottom: 70px;
  }
  .footer-p {
    font-size: 15px;
    margin-left: 10px;
  }
  .nav-contact > ul {
    width: 90%;
    margin-left: 0;
  }
  .nav-contact > ul > a {
    font-size: 14px;
    font-size: 13px;
  }
  .nav-contact > ul > a:nth-child(4) {
    margin-left: 0px;
    margin-right: 90px;
  }
}
/*Mobile screens*/
@media(max-width:479px) {
  .nav-contact > ul {
    display: none;
  }
  .header-h1 {
    width: 100%;
  }
  .contact-h1 {
    font-size: 24px;
  }
  .header-h1 > a {
    position: absolute;
    top: 3px;
    left: 30px;
  }
  .contact-header {
    width: 90%;
    height: 90px;
  }
  .header-container {
    width: 100%;
  }
  .about-footer-a > a {
   display: none;
  }
  .contact-footer-a > a {
    display: none;
  }
  .footer-p {
    font-size: 16px;
    margin-left: 10px;
  }
  .social-media {
    margin-inline: auto;
  }
  .header-h1 > h1 {
    margin-top: 10px;
    margin-left: 18px;
    font-size: 34px;
  }
  .header-h1 {
    width: fit-content;
  }
  .logo-image-contact {
   margin-top: 12px ;
   width: 90px;
  }
  .footer-container-contact {
   top: 120%;
    left: 0;
  }
}
@media(max-width:448px) {
  .form-group > input {
    padding: 2px;
  }
  .header-container {
    width: 100%;
    margin-inline: auto;
  }
  .logo-image-contact {
    width: 82px;
    margin-top: 8px;
  }
  .header-h1 > h1 {
    font-size: 30px; 
    margin-left: 2px;
  }
  .header-h1 > a {
    left: 20px;
    top: 10px;
  }
}
@media(max-width:410px) {
  #contact-form {
    max-width: 280px;
  }
}
@media(max-width:379px) {
  #contact-form {
    max-width: 250px;
  }
  .header-h1 > a {
    left: 18px;
  }
  .logo-image-contact {
    margin-right: -50px;
  }
}
@media(max-width:348px) {
  #contact-form {
    max-width: 220px;
  }
  .nav > ul {
    margin-right: 20px;
  }
  .header-h1 > h1 {
    margin-left: 4px;
    font-size: 26px;
  }
  .logo-image-contact {
    width: 78px;
    margin-top: 18px;
    margin-left: 6px;
  }
  .header-h1 {
    width: fit-content;
  }
}
@media(max-width:330px) {
  #contact-form {
    max-width: 200px;
  }

}


